@import "../../media";

.main-section {
  min-width: 280px;
  padding-top: 10vh;
  background-color:  #F2F2F2;
  box-shadow: 0 8px 12px -1px rgba(0, 0, 0, 0.1) inset;
  .main-section__container {
    display: flex;
  }
}
@media screen and(max-width: $tablet-width-m){
  .main-section__container {
    flex-direction: column;
  }
}

