h1, p {
  color: #3E3F58;
}
.profile-card {
  width: 35%;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5vh;
  .profile__user-info {
    display: flex;
    margin-bottom: 3vh;
    .profile__user-avatar {
      margin-right: 20px;
    }
    .profile__user-info-names {
      .profile__user-name {
        color: #3E3F58;
        font-size: 24px;
        font-weight: 600;
        line-height: 26px;
        font-family: 'Montserrat', sans-serif;
      }
      .profile__user-nickname {
        margin-bottom: 2vh;
      }
    }
  }
  .profile__edit-btn {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    color: #F05D63;
    cursor: pointer;
    background-color: inherit;
    text-decoration: underline;
  }
  .profile__about-user{
    font-size: 14px;
    line-height: 26px;
    padding: 3vh 5vh 0 0;
  }
}



