@import "../../media";

.post__card {

  .post__switch-block {
    display: flex;
    margin-bottom: 5vh;
  }
  .ant-switch-checked {
    background-color: #ED5267;
  }
  .switcher-value {
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin: 0 4vh;
  }
  .posts__card-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .post__item {
    padding: 3vh;
    width: 25vw;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 5px 24px -5px rgba(34, 60, 80, 0.12);
  }
  .post__title {
    font-family: 'Montserrat', sans-serif;
    color: #3E3F58;
    font-size: 3em;
    font-weight: 400;
    line-height: 44px;
    margin-bottom: 30px;
  }
  .post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
  .post__author-wrapper {
    display: flex;
  }
  .post__share-btn {
    background-color: inherit;
    border: none;
    color: #E32C75;
    cursor: pointer;
  }
  .post__likes-btn {
    display: flex;
    align-items: center;
    p {
      margin: 0 1vh;
    }
  }
  .like-btn {
    color: #E32C75;
  }
}
@media screen and (max-width: $tablet-width-l) {
  .post__switch-block {
    justify-content: center;
  }
  .post__card .posts__card-block .post__item {
    width: 40vw;
  }
  .post__card .posts__card-block .post__item .post__title {
    font-size: 2em;
  }
}
@media screen and (max-width: $tablet-width-m) {
  .profile-card {
    width: 100%;
  }
  .posts__card-block {
    justify-content: center;
  }
}
@media screen and (max-width: $tablet-width-s) {
  .post__card .posts__card-block .post__item {
    width: 70vw;
  }
}




