@import "../../media";

.nav-bar {
  display: flex;
  height: 40px;
  a {
    color: #3E3F58;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-right: 3vw;
    position: relative;
    &:after {
      content: "";
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 4px;
      background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%) !important;
      bottom: -0.5vh;
      left: 0;
      transition: all 0.3s ease;
    }
    &:hover:after {
      opacity: 1;
    }
  }
}
@media screen and (max-width: $tablet-width-m){
  .nav-bar {
    height: 6vh;
  }
}