


/*Screen*/
$large: 1199px;
$medium: 812px;
$small: 599px;

$container-lg: 1200px;

/*///Colors////*/
$color-gray: #B2B3BB;
$color-white: #ffffff;
$color-user: #3E3F58;
$color-text: #3E4056;
$body-color: #ECF1F8;
$pastel-red: #F05D63;
$gradient: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);

/*////Font size///*/
$text-size-m: 16px;
$text-size-s: 12px;